$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(26, 10, 252);
%centrar{
  display: flex;
  align-items: center;
  justify-content: center
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

td {

color:blue;


.ep {
    font-family: Verdana;
    font-size: 14px;
    color: rgb(71, 78, 64);
    text-align: justify;

}
}

.centrar {
        @extend %centrar;
}

.minh100{
  height: 100vh;
}

.sc{
  color:darkred;
}

#color_titulo{
  color: darkgoldenrod;
}

